*{
   font-family: 'Kavivanar', cursive;
   margin:0%;
   padding:0%;
   box-sizing: border-box;
}
nav{
    background-color: #8093ad;
}
.navbar-light .navbar-nav .nav-link , .navbar-light .navbar-nav .nav-link.active{
    color: rgb(226, 219, 219);
}
.navbar-light .navbar-nav .nav-link.active{
    border-bottom: 2px solid rgb(12, 12, 12);
}

.nav-link:hover{
    border-bottom: 2px solid rgb(12, 12, 12);
    cursor: pointer;
    
}
.navbar-brand img{
    width: 40px;
    height: 40px;
    margin-left: 50px;
    cursor: pointer;
}


.styleHeaderleft{
   
    position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
    
}
.imgStyle{
    width: 100%;
    height: auto;  
    /* margin-top: auto; */
    margin-top: 18px;
}

.styleWork{
    height: 50vh;
    text-align: center;
}
.styleContact{
    height: 50vh;
    text-align: center;
}
.styleExp{
    height: 50vh;
    text-align: center;
}
.styleAbout{
    height: 50vh;
    text-align: center;
    margin-top: 215px;
}

@media  screen and (max-width:1030px){
    .styleHeaderleft{
        /* left: 15rem; */
    width: 329px;
}
.imgStyle{
    margin-left: 2rem;
}
    }



@media  screen and (max-width:992px){
.imgStyle{
    margin-left: 5rem;
    max-width: 100%;
    object-fit:contain;
}
.center{
    position: absolute;
    top: 50%;
    margin: -25px 0 0 -25px;
}
.center h1{
    font-size: 20px;
}
}
@media  screen and (max-width:867px){

.styleHeaderleft{
    left: 160px;
}
.imgStyle{
    margin-left: auto;
}
}

@media  screen and (max-width:768px){
    .styleHeaderleft{
        /* left: 95px; */
    }
    .imgStyle{
        margin-left: 32px;
    }
}
@media  screen and (max-width:657px){
    .styleHeaderleft{
        left: 145px;
    }
    .imgStyle{
        margin-left: 34px;
    }
}
@media  screen and (max-width:593px){
    .styleHeaderleft{
        left: 163px;
    }
    .imgStyle{
        margin-left: 20px;
    }
}
    @media  screen and (max-width:577px){
     .navbar-brand img{
         margin-left: 8px;
     }
        .styleHeaderleft{
            margin-top: 10rem;
            width: 200px;
            /* left: 188px; */
            left: 86%;
            
        }
        .styleHeaderright{
            display: none;
        }
        .styleAbout{
            margin-top:55px;
        }
}
